@charset "UTF-8";
.green{
    position: absolute;
    top: 10%;
    left: 10%;
}
.blue{
    position: absolute;
    bottom: 0;
    right: 0;
}
.red{
    position: fixed;
    right: 0;
    top: 50%;
}
.parent{
    position: relative;
    position: absolute;
    position: static;
    top: 500px;
    left: 500px;
}
/* absolute : 절대 좌표
- 부모가 static이 아닌 경우 부모기준
- 조상이 전부 static이면 브라우저기준
->한마디로 상위의 요소가 좌표값을 가지게 되면 그걸 기준으로 함
*/
body{
    position: fixed;
    top: 100px;
    left: 300px;
    
}