@charset "UTF-8";
@import url(./reset.css);

body{
    background: url('../img/bg.jpg');
}

h3{height: 96px;
    max-width: 296px;
border: 2px solid rgba(0,255,0,0.8);}
p{
    background: rgba(255,0,0,0.5);
    width: 560px;/*너비를고정*/
    min-height: 100px;/*최소높이를 고정/그러나 컨텐츠가 안에 있다면 컨텐츠 크기 만큼 늘어남*/
    border:  20px solid rgba(0, 255, 0,0.5);

}


/* p태그는 블럭레벨이라서 한줄전체를 차지함  */